.b-custom-form-control{
    position: relative;
    zoom: 1;
    line-height: normal;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
.b-custom-form-control__input {
    position: absolute;
    left: 0;
    opacity: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
