.b-content_with_left-sidebar
{
    width: 100%;
}
.b-content_with_left-sidebar .b-content__left
{
    display: inline-block;
    width: 30%;
}

.b-content_with_left-sidebar .b-content__main
{
    display: inline-block;
    width: 70%;
}
.b-content_with_left-sidebar .b-content__left,
.b-content_with_left-sidebar .b-content__main
{
    vertical-align: top;
}