@font-face {
    font-family: 'PFSquareSansPro-Medium';
    src: local('PFSquareSansPro-Medium');
    src: url('../source/PFSquareSansPro-Medium.ttf');
    font-weight: normal;
}

.font_face_square_sans_pro_medium
{
    font-family: 'PFSquareSansPro-Medium';
}
